body {
    background-color: #f5f0fa;
    font-family: 'Arial', sans-serif;
    color: #3e3e3e;
}

.navbar {
    background-color: #6a5acd; /* Morado oscuro */
}

.navbar-brand, .navbar-toggler-icon, .nav-link {
    color: #ffffff; /* Blanco */
}

.navbar-toggler {
    border-color: #ffffff; /* Blanco */
}

.navbar-toggler:focus, .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.container {
    background-color: #ffffff; /* Blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}


p {
    color: #808080; /* Gris */
}

.btn-outline-success {
    color: #6a5acd; /* Morado oscuro */
    border-color: #6a5acd; /* Morado oscuro */
}

.btn-outline-success:hover {
    background-color: #6a5acd; /* Morado oscuro */
    color: #ffffff; /* Blanco */
}

.carousel-control-prev, .carousel-control-next {
    background-color: #6a5acd; /* Morado oscuro */
    border: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #ffffff; /* Blanco */
}


/* Estilo para hacer los botones circulares y acercarlos al carrusel */
.carousel-control-prev {
    top: 50%;
    width: 40px; /* Ajusta el ancho según sea necesario para que sea un círculo */
    height: 40px; /* Establece la misma altura que el ancho para que sea un círculo */
    transform: translate(120%, 450%); /* Mueve el botón a la izquierda y lo centra verticalmente */
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    border-radius: 50%; /* Hace que el botón sea circular */
}

.carousel-control-next {
    top: 50%;
    width: 40px; /* Ajusta el ancho según sea necesario para que sea un círculo */
    height: 40px; /* Establece la misma altura que el ancho para que sea un círculo */
    transform: translate(-120%, 450%); /* Mueve el botón a la derecha y lo centra verticalmente */
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    border-radius: 50%; /* Hace que el botón sea circular */
}

/* Cambia el color al pasar el mouse por encima de los botones */
.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Estilo para agregar padding en la parte inferior de las cards del carrusel */
.carousel-item img {
    margin-bottom: 40px; /* Ajusta la cantidad de espacio según sea necesario */
}


/* Añade al final del archivo styles.css */
.corazon-img {
    width: 100px; /* Ajusta el tamaño según tus necesidades */
    height: 100px;
    margin: 5px; /* Ajusta el margen según tus necesidades */
}
