body {
    padding-top: 60px;
    background-color: #f8f9fa;
    color: #343a40; /* Color de texto principal */
}

.navbar {
    background-color: #17a2b8;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.container {
    margin-top: 20px;
}

h1 {
    color: #007bff;
}

p {
    color: #6c757d;
}

.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-success {
    color: #289ca7;
    border-color: #28a745;
}

/* Ajuste para el botón del menú desplegable */
.dropdown-toggle {
    width: 100%;
    text-align: center;
}

.dropdown-menu {
    width: 100%;
    text-align: center;
}

.dropdown-item {
    text-align: center;
}

.modal-content {
    background-color: #fff;
    color: #343a40;
}

#faq-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
/* Estilo para hacer los botones circulares y acercarlos al carrusel */
.carousel-control-prev {
    top: 50%;
    width: 40px; /* Ajusta el ancho según sea necesario para que sea un círculo */
    height: 40px; /* Establece la misma altura que el ancho para que sea un círculo */
    transform: translate(120%, 450%); /* Mueve el botón a la izquierda y lo centra verticalmente */
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    border-radius: 50%; /* Hace que el botón sea circular */
}

.carousel-control-next {
    top: 50%;
    width: 40px; /* Ajusta el ancho según sea necesario para que sea un círculo */
    height: 40px; /* Establece la misma altura que el ancho para que sea un círculo */
    transform: translate(-120%, 450%); /* Mueve el botón a la derecha y lo centra verticalmente */
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    border-radius: 50%; /* Hace que el botón sea circular */
}

/* Cambia el color al pasar el mouse por encima de los botones */
.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Estilo para agregar padding en la parte inferior de las cards del carrusel */
.carousel-item img {
    margin-bottom: 40px; /* Ajusta la cantidad de espacio según sea necesario */
}
